:root {
    --bg-dark: #232323;
    --bg-dark-second: rgb(0 0 0 / 14%);
    --bg-menus: rgb(0 0 0 / 38%);
    --txt-dark: #FFF;
    --lightgrey: #f0f0f0;
    --grey: #a8a8a8;
    --accent: #4ecdc4;
    --accent-hover: #65c6bb;
    --light-border: rgba(96, 96, 96, 38%);
    /* --bg-light: #fff;
    --txt-light: #2c3e50; */
}
body {
    font-family: sans-serif;
    font-size: 14px;
    background: var(--bg-dark);
    color: var(--txt-dark);
    position: relative;
}

html.light {
    filter: invert(1) hue-rotate(180deg);
}
html.light img {
    filter: invert(1) hue-rotate(180deg);
}
body {
    margin: 0;
    padding: 0;
}
main {
    max-width: 83.33333%;
    margin: 0 auto;
    padding-left: 94px;
    padding-top: 1em;
}
a {
    text-decoration: none;
    color: var(--accent);
}
ul, li {
    padding: 0;
    margin: 0;
}
.df {
    display: flex;
}
/*  */
button {
    padding: 7px;
    border: none;
    color: var(--bg-dark);
    background: var(--accent);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}